aiohttp==3.8.0
aiosignal==1.4.0
async-timeout==4.0.3
attrs==25.3.0
bcrypt==4.0.1
certifi==2025.8.3
charset-normalizer==2.1.1
click==7.1.2
dnspython==1.16.0
elasticsearch==7.14.0
fastapi==0.65.2
frozenlist==1.7.0
h11==0.16.0
idna==3.10
multidict==6.6.4
propcache==0.3.2
pycryptodome==3.15.0
pydantic==1.10.22
pymongo==3.6.1
PyMySQL==1.1.2
python-dotenv==0.19.2
requests==2.32.5
starlette==0.14.2
typing_extensions==4.14.1
urllib3==1.26.20
uvicorn==0.13.4
XlsxWriter==3.0.3
yarl==1.20.1
